.greyRound {
    position: absolute;
    background: rgba(78, 93, 100, .37);
    width: 404px;
    height: 403px;
    border-radius: 50%;
    filter: blur(300px);
    left: 371px;
    top: 105px;
}

@media (max-width: 320px) {
    .greyRound {
        width: 234px;
        height: 234px;
        top: 233px;
        left: 175px;
    }
}

.greenRound {
    position: absolute;
    background: #9BFF9F;
    width: 113px;
    height: 111px;
    border-radius: 50%;
    filter: blur(100px);
    left: 451px;
    top: 99px;
}

@media (max-width: 320px) {
    .greenRound {
        width: 66px;
        height: 65px;
        top: 230px;
        left: 221px;
    }
}

.blueRound {
    position: absolute;
    background: #7FCDEE;
    width: 156px;
    height: 154px;
    border-radius: 50%;
    filter: blur(100px);
    left: 130px;
    top: 187px;
}

@media (max-width: 320px) {
    .blueRound {
        width: 90px;
        height: 90px;
        top: 281px;
        left: 36px;
    }
}

.round98 {
    position: absolute;
    background: rgba(60, 88, 76, .27);
    width: 276px;
    height: 276px;
    border-radius: 50%;
    filter: blur(100px);
    right: 67px;
    top: 35px;
}

@media (max-width: 320px) {
    .round98 {
        display: none;
    }
}

.round98Two {
    position: absolute;
    background: rgba(60, 88, 76, .38);
    width: 239px;
    height: 239px;
    border-radius: 50%;
    filter: blur(100px);
    left: 330px;
    top: 247px;
}

@media (max-width: 320px) {
    .round98Two {
        width: 138px;
        height: 138px;
        top: 316px;
        left: 152px;
    }
}