.PopularItemContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    margin-bottom: 35px;
    justify-content: center;
}

@media (max-width: 320px) {
    .PopularItemContainer {
        gap: 8px;
        justify-content: start;
        margin-bottom: 24px;
    }
}