.CatalogCards {
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    gap: 30px;
    overflow-x: auto;
}

.CatalogCards::-webkit-scrollbar {
    display: none;
}


.CatalogCards > div {
    width: 271px;
}

.CatalogCards div::before {
    width: 271px;
}

.CatalogCards div::after {
    right: 111px;
}

.CatalogCards p {
    width: 100%;
}

.CatalogCards button {
    width: 182px;
}

.CatalogCardsWrapper {
    padding-right: 120px;
    padding-left: 110px;
    position: relative;
}

.CatalogCardsWrapper > button:last-child {
    top: 88px;
    right: 110px;
    width: 50px;
}

.CatalogCardsWrapper > button:not(:last-child) {
    top: 88px;
    left: 81px;
    width: 50px;
}