.CatalogCards {
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    gap: 30px;
    overflow-x: auto;
}

@media (max-width: 320px) {
    .CatalogCards {
        flex-wrap: wrap;
        max-width: 100%;
        gap: 4px;
        padding-bottom: 19px;
    }
}

.CatalogCards::-webkit-scrollbar {
    display: none;
}

.CatalogCards > div {
    width: 271px;
}

@media (max-width: 320px) {
    .CatalogCards > a {
        min-width: 140px;
        min-height: 246px;
    }
}

.CatalogCards div::before {
    width: 271px;
}

@media (max-width: 320px) {
    .CatalogCards div::before {
        width: 140px;
    }
}

.CatalogCards div::after {
    right: 111px;
}

@media (max-width: 320px) {
    .CatalogCards div::after {
        right: 30px;
        height: 42px;
    }

}

.CatalogCards p {
    width: 100%;
}

.CatalogCards button {
    width: 182px;
}

.CatalogCardsWrapper {
    padding-right: 120px;
    padding-left: 110px;
    position: relative;
}

@media (max-width: 320px) {
    .CatalogCardsWrapper {
        padding: 33px 16px 19px 16px;
    }

    .CatalogCardsWrapper > button {
        display: none;
    }
}

.CatalogCardsWrapper > button:last-child {
    top: 88px;
    right: 110px;
    width: 50px;
}

.CatalogCardsWrapper > button:not(:last-child) {
    top: 88px;
    left: 81px;
    width: 50px;
}

@media (max-width: 320px) {
    .CatalogCards > a > div > div > p {
        max-width: 68px;
        font-size: 13px;
    }

    .CatalogCards > a > div > div > button {
        max-width: 20px;
    }
}