.Hero {
    display: flex;
    padding: 24px 235px  82px 222px;
}

@media (max-width: 320px) {
    .Hero {
        padding: 33px 23px 45px 15px;
        flex-direction: column;
        align-items: center;
    }
}

.HeroImg {
    margin-right: 133px;
}

@media (max-width: 320px) {
    .HeroImg {
        margin-right: 0;
        order: 2;
    }

    .HeroImg > img {
        width: 166px;
        height: 190px;
    }

}

.HeroContent {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (max-width: 320px) {
    .HeroContent {
        order: 1;
        gap: 22px;
        margin-bottom: 44px;
    }
}

.HeroContent > h1 {
    margin-bottom: 30px;
}

@media (max-width: 320px) {
    .HeroContent > h1 {
        margin-bottom: 24px;
        text-align: center;
    }
}

.HeroContent > div > p:nth-child(1) {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 13px;
    color: #292929;
}


.HeroContent > div > p:not(:nth-child(1)) {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #292929;
}