.ChooseExtras {
}

.ChooseExtrasContainer {
    display: flex;
    padding: 38px 133px 49px 134px;
    justify-content: space-between;
    gap: 33px;
}

@media (max-width: 320px) {
    .ChooseExtrasContainer {
        padding: 12px 16px 45px 16px;
        flex-direction: column;
    }
}

.ChooseExtrasCards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 870px;
}

@media (max-width: 320px) {
    .ChooseExtrasCards {
        width: 288px;
        gap: 8px;
    }
}

.ChooseExtrasCard {
    padding: 12px 12px 12px 14px;
    background: white;
    border-radius: 5px;
    border: 1px solid #EDEDF0;
    width: 242px;
    text-align: center;
}

@media (max-width: 320px) {
    .ChooseExtrasCard {
        padding: 8px;
        width: 122px;
    }
}

.ChooseExtrasCardImg {
    width: 244px;
    height: 192px;
    background: #EDEDF0;
    margin-bottom: 21px;
}

@media (max-width: 320px) {
    .ChooseExtrasCardImg {
        width: 124px;
        height: 98px;
        margin-bottom: 10px;
    }
}

.ChooseExtrasCardTitle {
    color: #292929;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 36px;
}

@media (max-width: 320px) {
    .ChooseExtrasCardTitle {
        font-size: 10px;
        margin-bottom: 5px;
    }
}

.ChooseExtrasCardButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

@media (max-width: 320px) {
    .ChooseExtrasCardButtons {
        gap: 11px;
        justify-content: center;
    }

    .ChooseExtrasCardButtons > div {
        gap: 3px !important;
    }
}

.ChooseExtrasCardButtons::before {
    content: '';
    display: block;
    position: absolute;
    top: -11px;
    left: -18px;
    width: 270px;
    height: 1px;
    background: #EDEDF0;
}

@media (max-width: 320px) {
    .ChooseExtrasCardButtons::before {
        display: none;
    }
}

.ChooseExtrasCardPrice {
    color: #E7426A;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 320px) {
    .ChooseExtrasCardPrice {
        font-size: 14px;
    }
}

.ChooseExtrasCardButtons > div {
    display: flex;
    align-items: center;
    gap: 14px;
}

.ChooseExtrasCardButtons > div > button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
    color: #292929;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border: 1px solid rgba(41, 41, 41, .1);
    border-radius: 3px;
}

.ChooseExtrasOrder {
    background: white;
    max-height: 317px;
    padding: 27px 24px 17px 20px;
    max-width: 226px;
}


.ChooseExtrasOrderTitle {
    color: #292929;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 38px;
}

@media (max-width: 320px) {
    .ChooseExtrasOrderTitle {
        font-size: 12px;
        margin-bottom: 0;
    }
}

.ChooseExtrasOrderTitle > span {
    color: #E7426A;

}

.ChooseExtrasOrderDopContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 47px;
    position: relative;
}

.ChooseExtrasOrderDopContainer:before {
    content: '';
    display: block;
    position: absolute;
    top: -11px;
    left: -18px;
    width: 270px;
    height: 1px;
    background: #EDEDF0;
}


@media (max-width: 320px) {
    .ChooseExtrasOrderDopContainer::before {
        display: none;
    }
}

.ChooseExtrasOrderDopContainer::after {
    content: '';
    display: block;
    background: #EDEDF0;
    height: 1px;
    position: absolute;
    bottom: -14px;
    left: -18px;
    width: 270px;
}

@media (max-width: 320px) {
    .ChooseExtrasOrderDopContainer::after {
        display: none;
    }
}

.ChooseExtrasOrderDop {
    color: #292929;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 320px) {
    .ChooseExtrasOrderDop {
        font-size: 12px;
    }
}

.ChooseExtrasOrderDop > span {
    color: #E7426A;
}


.ChooseExtrasOrderButton > button {
    width: 100%;
}

@media (max-width: 320px) {
    .ChooseExtrasOrderButton > button {
        width: 85px;
        height: 40px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



@media (max-width: 320px) {
    .ChooseExtrasOrder {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        gap: 8px 16px;
        padding: 16px;
        border-top: 1px solid #EDEDF0;
        background: #fff;
        min-width: 291px;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .ChooseExtrasOrder p,
    .ChooseExtrasOrder div[class*="DopContainer"] {
        grid-column: 1 / 2;
    }

    .ChooseExtrasOrder div[class*="OrderButton"] {
        grid-column: 2 / 3;
        grid-row: 1 / span 2;
        align-self: center;
    }
}