.ChooseExtras {
}

.ChooseExtrasContainer {
    display: flex;
    padding: 38px 133px 49px 134px;
    justify-content: space-between;
    gap: 33px;
}

.ChooseExtrasCards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 870px;
}

.ChooseExtrasCard {
    padding: 12px 12px 12px 14px;
    background: white;
    border-radius: 5px;
    border: 1px solid #EDEDF0;
    width: 242px;
    text-align: center;
}

.ChooseExtrasCardImg {
    width: 244px;
    height: 192px;
    background: #EDEDF0;
    margin-bottom: 21px;
}

.ChooseExtrasCardTitle {
    color: #292929;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 36px;
}

.ChooseExtrasCardButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.ChooseExtrasCardButtons::before {
    content: '';
    display: block;
    position: absolute;
    top: -11px;
    left: -18px;
    width: 270px;
    height: 1px;
    background: #EDEDF0;
}

.ChooseExtrasCardPrice {
    color: #E7426A;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}


.ChooseExtrasCardButtons > div {
    display: flex;
    align-items: center;
    gap: 14px;
}

.ChooseExtrasCardButtons > div > button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    color: #292929;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border: 1px solid rgba(41, 41, 41, .1);
    border-radius: 3px;
}

.ChooseExtrasOrder {
    background: white;
    max-height: 317px;
    padding: 27px 24px 17px 20px;
    max-width: 226px;
}

.ChooseExtrasOrderTitle {
    color: #292929;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 38px;
}

.ChooseExtrasOrderTitle > span {
    color: #E7426A;

}

.ChooseExtrasOrderDopContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 47px;
    position: relative;
}

.ChooseExtrasOrderDopContainer:before {
    content: '';
    display: block;
    position: absolute;
    top: -11px;
    left: -18px;
    width: 270px;
    height: 1px;
    background: #EDEDF0;
}


.ChooseExtrasOrderDopContainer::after {
    content: '';
    display: block;
    background: #EDEDF0;
    height: 1px;
    position: absolute;
    bottom: -14px;
    left: -18px;
    width: 270px;
}

.ChooseExtrasOrderDop {
    color: #292929;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.ChooseExtrasOrderDop > span {
    color: #E7426A;
}


.ChooseExtrasOrderButton > button {
    width: 100%;
}