.Price {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #EDEDF0;
    background: white;
    padding: 15px 28px;
    width: 100%;
    align-items: center;
    margin-bottom: 25px;
}

@media (max-width: 320px) {
    .Price {
        order: 4;
        padding: 11px 15px;
        width: 256px;
    }
}

.PriceText {
    color: #E7426A;
    font-size: 24px;
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
}

@media (max-width: 320px) {
    .PriceText {
        font-size: 18px;
    }
}

.Price > button {
    background: #E7426A;
    color: white;
    padding: 15px 38px;
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 320px) {
    .Price > button {
        padding: 12px 22px;
        font-size: 12px;
    }
}


