.NotFound {

}

.NotFoundContainer {
    padding: 109px 429px 60px 436px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media (max-width: 320px) {
    .NotFoundContainer {
        padding: 110px 29px 93px 29px;
    }
}

.NotFound h1 {
    color: #292929;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-bottom: 51px;
}

@media (max-width: 320px) {
    .NotFound h1 {
        font-size: 14px;
        margin-bottom: 13px;
    }
}

.NotFoundNumber {
    position: absolute;
    color: #826A5C;
    font-size: 325px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    top: 98px;
    left: 395px;
    z-index: -1;
}

@media (max-width: 320px) {
    .NotFoundNumber {
        font-size: 120px;
        top: 127px;
        left: 34px;
    }

    .NotFoundImg {
        width: 123px;
        height: 123px;
    }
}

.NotFoundButton {
    color: #E7426A;
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 16px 94px;
    background: none;
    border: 1px solid #E7426A;
    border-radius: 3px;
    transition: all .3s;
}

@media (max-width: 320px) {
    .NotFoundButton {
        padding: 12px 65px;
        font-size: 12px;
    }
}

.NotFoundButton:hover {
    background: #E7426A;
    color: white;
    cursor: pointer;
}

.NotFoundButton:active {
    background: none;
    border: 1px solid #E7426A;
}

.NotFoundButton > a {
    color: #E7426A;
    text-decoration: none;
}