.OneNewImg {
    width: 570px;
}

@media (max-width: 320px) {
    .OneNewImg {
        width: 288px;
    }
}


.MainImg {
    width: 570px;
    height: 450px;
    margin-bottom: 56px;
}

@media (max-width: 320px) {
    .MainImg {
        width: 288px;
        height: 227px;
    }
}

.MainImg > img {
    width: 570px;
    height: 450px;
}

@media (max-width: 320px) {
    .MainImg  > img {
        width: 288px;
        height: 227px;
    }
}

.SmallImg {
    width: 135px;
    height: 100px;
    display: flex;
    gap: 15px;
}

@media (max-width: 320px) {
    .SmallImg {
        width: 69px;
        height: 50px;
        gap: 4px;
        align-items: center;
    }
}

.SmallImg > img {
    width: 135px;
    height: 100px;
}

@media (max-width: 320px) {
    .SmallImg > img {
        width: 69px;
        height: 50px;
    }
}