.FooterLeftItem {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.FooterLeftItemText {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.FooterLeftItem:nth-child(2) .FooterLeftItemText {
    width: 77px;
}

@media (max-width: 320px) {
    .FooterLeftItem {
        flex-direction: row;
        gap: 28px;
        align-items: center;
        width: 100%;
    }

    .FooterLeftItemText {
        width: 100% !important;
        text-align: left;
    }
}