.Footer {
    display: flex;
    justify-content: space-between;
    padding: 56px 134px 69px 134px;
    background: #EBEDEE;
}

.FooterLeft {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.FooterLeftText {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
}

.FooterMid {
}

.FooterRight {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.FooterRightLink {
    text-decoration: none;
    color: #292929;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.FooterRightHours {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    text-align: right;
}

@media (max-width: 320px) {
    .Footer {
        padding: 33px 16px 53px 16px;
        flex-direction: column;
        position: relative;
    }

    .FooterMid {
        display: none;
    }

    .FooterLeftText {
        font-size: 10px;
        width: 173px;
    }

    .FooterRight {
        gap: 27px;
    }

    .FooterRightLink {
        font-size: 12px;
    }

    .FooterRightHours {
        font-size: 10px;
    }

    .FooterRightContacts {
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        right: 16px;
        top: 211px;
    }
}

