.ChepTogther {
    padding: 18px 0 18px 26px;
    background: linear-gradient(90deg, #FFF6F6 0%, #FFD6D6 100%);
    color: #292929;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    max-width: 645px;

}

@media (max-width: 320px) {
    .ChepTogther {
        padding: 10px 12px;
        font-size: 16px;
        white-space: nowrap;
        font-weight: 600;
        position: relative;
        z-index: 2;
        justify-content: space-between;
    }
}

.ChepTogther > img {
    margin-left: 10px;
}

@media (max-width: 320px) {
    .ChepTogther > img {
        width: 81px;
        height: 35px;
        position: absolute;
        top: 14px;
        right: 60px;
        z-index: -1;
    }
}



.ChepTogtherContainer {
    border-radius: 5px;
    padding: 2px;
    background: linear-gradient(90deg, #FFE8C6 0%, #FFD4D4 100%);
    max-width: 670px;
    margin-bottom: 20px;
}

.ChepTogtherStars {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    gap: 20px;
}

@media (max-width: 320px) {
    .ChepTogtherStars > img:nth-child(1), img:nth-child(4) {
        display: none;
    }

    .ChepTogtherStars {
        gap: 2px;
    }
}


.ChepTogetherItem {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px 27px 15px 17px;
    border-radius: 5px;
    border: 1px solid #EDEDF0;
    color: #292929;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;
}

.ChepTogetherItems {
    margin-bottom: 40px;
}

.ChepTogetherItemTitle {
    display: flex;
    align-items: center;
    gap: 15px;
}


.ChepTogetherItemButtons {
    display: flex;
    gap: 14px;
}

.ChepTogetherItemButtons > button {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #EDEDF0;
    width: 20px;
    height: 20px;
    color: #292929;
    font-size: 17px;
}

.ChepTogetherItemPrice {
    display: flex;
    flex-direction: column;
    align-items: end;;
}

.ChepTogetherItemPrice > span:nth-child(1) {
    color: #969696;
    text-decoration: line-through;
    margin-bottom: 5px;
}

.ChepTogetherItemPrice > span:nth-child(2) {
    color: #292929;
}

.ChepTogetherItemPrice > span:nth-child(2) > span {
    color: #e7426a;
}

@media (max-width: 320px) {
    .ChepTogetherItem {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-areas:
      "image title"
      "buttons price";
        column-gap: 12px;
    }

    .ChepTogetherItemTitle {
        display: contents;
    }

    .ChepTogetherItemTitle img {
        grid-area: image;
        width: 69px;
        height: 69px;
        margin-bottom: 9px;
    }

    .ChepTogetherItemTitle p {
        grid-area: title;
        font-size: 12px;
        font-weight: bold;

    }

    .ChepTogetherItemButtons {
        grid-area: buttons;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .ChepTogetherItemPrice {
        grid-area: price;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        font-size: 14px;
    }

    .ChepTogetherItemPrice span:first-child {
        font-size: 14px;
    }

    .ChepTogetherItemPrice span:last-child {
        font-size: 14px;
        font-weight: bold;
        color: #e7426a;
    }
}