.Modal {
    background: white;
    padding: 48px 46px 27px 46px;
}

.Modal > div > h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.Modal > div > p {
    color: #292929;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 39px;
    text-align: center;
}

.Modal > div > div {
    display: flex;
    gap: 10px;
}

.Modal > div > div > div:nth-child(1) > button {
    color: #4E9DD3;
    width: 234px;
}

.Modal > div > div > div:nth-child(2) > button {
    width: 234px;
}