.ModalHeaderWrapper {
    display: none;
}

@media (max-width: 320px) {
    .ModalHeaderWrapper {
        display: flex;
    }
}


.ModalBreadCrumbs {
    display: none;
}

@media (max-width: 320px) {
    .ModalBreadCrumbs {
        display: flex;
        align-items: center;
        padding-left: 69px;
    }
}

.Summary {
    background: white;
    padding: 46px 46px 35px 46px;
}

@media (max-width: 320px) {
    .Summary {
        padding: 23px 34px 30px 29px;
    }
}

.Summary > h1 {
    text-align: center;
    margin-bottom: 19px;
}

.SummaryContaienr {
    padding: 139px 435px 270px 435px;
    background: rgba(0, 0, 0, .39);
}

@media (max-width: 320px) {
    .SummaryContaienr {
        padding: 0 16px 62px 0;
        background: #F7F8F9;
    }
}

.SummaryTitle {
    color: #292929;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 9px;
}

@media (max-width: 320px) {
    .SummaryTitle {
        font-size: 14px;
    }
}


.SummaryTitle > span {
    color: #e7426a;
}

.SummaryChoose {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    opacity: .8;
    color: #292929;
}

.SummaryChoose:not(:last-child) {
    margin-bottom: 5px;
}

.SummaryExtras {
    color: #292929;
    font-weight: 600;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 12px;
}

.SummaryExtras:nth-last-child(3) {
    margin-bottom: 47px;
}

.SummaryExtras > span {
    color: #e7426a;
}

.SummaryTotal {
    color: #292929;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    position: relative;
    margin-bottom: 37px;
}

.SummaryTotal::before {
    content: '';
    position: absolute;
    top: -18px;
    left: -46px;
    width: 570px;
    height: 1px;
    background: #EDEDF0;
}

@media (max-width: 320px) {
    .SummaryTotal::before {
        width: 285px;
        left: -10px;
        top: -4px;
    }
}

.SummaryTotal::after {
    content: '';
    position: absolute;
    top: 36px;
    right: -46px;
    width: 570px;
    height: 1px;
    background: #EDEDF0;
}

@media (max-width: 320px) {
    .SummaryTotal::after {
        width: 285px;
        right: -34px;
        top: 36px;
    }
}

.SummaryTotal > p > span {
    color: #e7426a;
}

.SummaryBtn {
    display: flex;
    gap: 10px;
}

@media (max-width: 320px) {
    .SummaryBtn {
        flex-direction: column;
        align-items: center;
    }

}

.SummaryBtn > div:nth-child(1) > button {
    color: #4E9DD3;
}

@media (max-width: 320px) {
    .SummaryBtn > div:nth-child(1) > button {
        padding: 12px 30px;
        font-size: 12px;
    }

    .SummaryBtn > div:nth-child(2) > button{
        padding: 12px 30px;
        font-size: 12px;
    }
}