.Hero {
    display: flex;
    padding: 47px 234px 8px 156px;
    align-items: end;
    margin-bottom: 81px;
}

.Hero p:nth-child(2) {
    margin-bottom: 34px;
}

.HeroImg {
    margin-right: 68px;
    position: relative;
}

.HeroContent {
}

.HeroTitle {
    color: #292929;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;;
    margin-bottom: 15px;
}

.HeroDescr {
    color: #292929;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.HeroDescr > a {
    color: #E7426A;
    font-weight: 600;
}

.HeroDescr:not(:last-child) {
    margin-bottom: 12px;
}