.roseRound {
    position: absolute;
    width: 214px;
    height: 214px;
    background: #FFDAD4;
    filter: blur(100px);
    border-radius: 50%;
    left: 34px;
    top: 175px;
    z-index: -1;
}

@media (max-width: 320px) {
    .roseRound {
        width: 112px;
        height: 112px;
        top: 243px;
        left: 35px;
    }
}

.yellowRound {
    position: absolute;
    width: 231px;
    height: 231px;
    border-radius: 50%;
    background: #FAD4A7;
    opacity: .38;
    filter: blur(100px);
    left: 258px;
    top: 116px;
    z-index: -1;
}
@media (max-width: 320px) {
    .yellowRound {
        width: 121px;
        height: 121px;
        top: 259px;
        left: 173px;
    }
}