.News {
    background: #F7EBE5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
    overflow-x: hidden;
}

.NewsTitle {
    color: #292929;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    margin-bottom: 50px;
}

.AddNews {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px
}

.AddNews > input {
    border: none;
    color: #292929;
    padding: 17px 0 17px 14px;
    outline: none;;
}

.AddNews > input::placeholder {
    color: #292929;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.AddNews > input:focus {
    border: 1px solid #9BFF9F;
}

.NewsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px 10px;
    width: 1168px;
}

.NewsList a {
    width: 370px;
    display: block;
    margin-bottom: 10px;
}

.NewsListItem {

}

.NewsListItem > div > div {
    display: flex;
    gap: 5px;
}

.NewImg {
}