.Hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 135px 58px 178px;
    position: relative;
    overflow: hidden;
    margin-bottom: 58px;
}


.HeroImg {
    margin-right: 154px;
}

.HeroImg img:nth-child(2) {
    position: absolute;
    top: 118px;
    left: 462px;
}

.HeroImg img:nth-child(3) {
    position: absolute;
    top: 273px;
    left: 466px;
}

.HeroImg img:nth-child(4) {
    position: absolute;
    top: 208px;
    left: 138px;
}

.HeroText:not(:last-child) {
    margin-bottom: 21px;
}


.HeroButtons {
    margin-bottom: 41px;
    display: flex;
    gap: 10px;
}

.HeroImgMobile {
    display: none;
}

@media (max-width: 320px) {
    .Hero {
        padding: 43px 16px;
        flex-direction: column;
    }

    .Hero h2 {
        text-align: center;
        width: 272px;
    }

    .HeroText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .HeroText > p:nth-child(2) {
        width: 265px;
    }

    .HeroText > p:nth-child(2) > br {
        display: none;
    }

    .HeroImgMobile {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    .HeroImgMobile img {
        width: 197px;
        height: 312px;
    }

    .HeroImg > img:nth-child(1) {
        display: none;
    }

    .HeroButtons {
        flex-direction: column;
    }

    .HeroImg > img:nth-child(2) {
        top: 253px;
        left: 235px;
    }

    .HeroImg > img:nth-child(3) {
        top: 398px;
        left: 254px;
        width: 56px;
        height: 56px;
    }

    .HeroImg > img:nth-child(4) {
        top: 280px;
        left: 24px;
        display: block;
        width: 50px;
        height: 52px;
    }
}