.whiteRound {
    position: absolute;
    width: 247px;
    height: 247px;
    border-radius: 50%;
    background: #FFF2E0;
    filter: blur(100px);
    top: 4px;
    left: 260px;
    z-index: -1;
}

@media (max-width: 320px) {
    .whiteRound {
        width: 161px;
        height: 161px;
        top: 168px;
        left: 103px;
    }
}

.FFround {
    position: absolute;
    width: 336px;
    height: 336px;
    border-radius: 50%;
    background: #FFF9C8;
    opacity: .37;
    filter: blur(100px);
    top: -12px;
    right: 44px;
    z-index: -1;
}

@media (max-width: 320px) {
    .FFround {
        display: none;
    }
}

.FF3round {
    position: absolute;
    width: 276px;
    height: 336px;
    border-radius: 50%;
    background: #FFF3B5;
    opacity: .27;
    filter: blur(100px);
    top: 101px;
    right: -19px;
}

@media (max-width: 320px) {
    .FF3round {
        display: none;
    }
}

.roseRound:nth-child(4) {
    position: absolute;
    width: 169px;
    height: 169px;
    border-radius: 50%;
    background: #FFA8A8;
    opacity: .56;
    filter: blur(100px);
    top: 277px;
    left: 384px;
    z-index: -1;
}

@media (max-width: 320px) {
    .roseRound:nth-child(4) {
        width: 110px;
        height: 110px;
        top: 404px;
        left: 136px;
    }
}

.roseRound:nth-child(5) {
    position: absolute;
    width: 169px;
    height: 169px;
    border-radius: 50%;
    background: #FFA8A8;
    opacity: .56;
    filter: blur(100px);
    top: 339px;
    left: 310px;
    z-index: -1;
}

@media (max-width: 320px) {
    .roseRound:nth-child(5) {
        width: 110px;
        height: 110px;
        top: 325px;
        left: 184px;
    }
}

.FF9round {
    position: absolute;
    width: 440px;
    height: 440px;
    border-radius: 50%;
    background: #FFF9C8;
    opacity: .37;
    filter: blur(100px);
    top: 109px;
    left: 109px;
    z-index: -1;
}

@media (max-width: 320px) {
    .FF9round {
        width: 286px;
        height: 296px;
        left: 5px;
        top: 215px;
    }
}