.ActionContainer {

}

.ItemsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    gap: 30px;
    margin-bottom: 37px;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.ItemsContainer::-webkit-scrollbar {
    display: none;
}


