.ChooseTaste {
}


.ChooseTasteSeason {
    width: 870px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 32px;
}

@media (max-width: 320px) {
    .ChooseTasteSeason {
        width: 100%;
        flex-wrap: wrap;
        margin-right: 0;
        gap: 8px;
        margin-bottom: 10px;
    }
}

.ChooseTasteSeasonCard {
    width: 237px;
    background: white;
    border-radius: 5px;
    border: 1px solid #EDEDF0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 27px 15px 20px 16px;
    min-height: 370px;
}

@media (max-width: 320px) {
    .ChooseTasteSeasonCard {
        width: 114px;
        padding: 14px 11px 6px 13px;
        min-height: 215px;
    }
}

.ChooseTasteSeasonCardTitle {
    color: #292929;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 12px;
}

@media (max-width: 320px) {
    .ChooseTasteSeasonCardTitle {
        font-size: 10px;
    }
}

.ChooseTasteSeasonCard > p:nth-child(2) {
    text-align: left;
    width: 100%;
    margin-bottom: 12px;
}


.ChooseTasteSeasonCardDescr {
    margin-bottom: 64px;
    width: 239px;
    color: #292929;
    font-size: 14px;
    font-family: "Poppins", sans-serif;

}

@media (max-width: 320px) {
    .ChooseTasteSeasonCardDescr {
        width: 100%;
        font-size: 10px;
        margin-bottom: 5px;
    }
}

.ChooseTasteSeasonCard img {
    width: 180px;
    height: 170px;
    margin-bottom: 20px;
}

@media (max-width: 320px) {
    .ChooseTasteSeasonCard img {
        width: 91px;
        height: 96px;
        margin: 0 !important;
    }
}

.ChooseTasteSeasonCardButtons {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.ChooseTasteSeasonCardButtons > button {
    background: none;
    border: 1px solid rgba(41, 41, 41, .1);
    padding: 4px 3px;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.ChooseTasteSeasonCardButtons::before {
    content: '';
    display: block;
    position: absolute;
    top: -11px;
    left: -18px;
    width: 270px;
    height: 1px;
    background: #EDEDF0;
}

@media (max-width: 320px) {
    .ChooseTasteSeasonCardButtons::before {
        display: none;
    }
}

.ChooseTasteTastes {
    display: flex;
    padding: 0 133px 50px 135px;
}

@media (max-width: 320px) {
    .ChooseTasteTastes {
        flex-direction: column;
        padding: 9px 16px 0 16px;
    }
}

.ChooseAvaliableTastes {

}

.ChooseTasteTastesTitle {
    color: #292929;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

@media (max-width: 320px) {
    .ChooseTasteTastesTitle {
        font-size: 12px;
        width: 134px;
        margin-bottom: 3px;
    }
}

.ChooseTasteTastesTitle > span {
    color: #E7426A;
}

.ChooseTasteTastesItem {
    display: flex;
    align-items: center;
    gap: 14px;
}

.ChooseTastesRegularTastes {
    width: 239px;
    background: white;
    padding: 27px 11px 28px 20px;
    max-height: 475px;
}

@media (max-width: 320px) {
    .ChooseTastesRegularTastes {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        gap: 4px 16px;
        padding: 13px 16px 5px 11px;
        border-top: 1px solid #EDEDF0;
        background: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 291px;
        align-items: center;
    }

    .ChooseTastesRegularTastes > div {
        margin-bottom: 3px !important;
    }
}

.ChooseTastesRegularTastesButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 320px) {
    .ChooseTastesRegularTastesButtons > a > button {
        display: none;
    }
}

.ChooseTastesRegularTastesButtons > button {
    width: 100%;
}

@media (max-width: 320px) {
    .ChooseTastesRegularTastesButtons > button {
        width: 85px;
        height: 40px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 2 / 3;
        grid-row: 1 / span 2; /* Кнопка занимает высоту двух строк */
    }
}

.ChooseTastesRegularTastesButtons > a > button {
    border-color: #e7426a;
    padding: 11px 38px;
    color: #e7426a;
}

.ChooseTastesRegularTastesCardContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 28px;
    position: relative;
}

@media (max-width: 320px) {
    .ChooseTastesRegularTastesCardContainer {
        display: none;
    }
}

.ChooseTastesRegularTastesCardContainer::before {
    content: '';
    display: block;
    position: absolute;
    top: -11px;
    left: -18px;
    width: 270px;
    height: 1px;
    background: #EDEDF0;
}

.ChooseTastesRegularTastesCardContainer::after {
    content: '';
    display: block;
    background: #EDEDF0;
    height: 1px;
    position: absolute;
    bottom: -14px;
    left: -18px;
    width: 270px;
}

.ChooseTastesRegularTastesCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ChooseTastesRegularTastesCard > p {
    color: #292929;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}


.ChooseTasteTastesItem > button {
    background: none;
    border: 1px solid rgba(41, 41, 41, .1);
    padding: 4px 3px;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.ChooseTasteCount {
    color: #292929;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 16px;
}

@media (max-width: 320px) {
    .ChooseTasteCount {
        font-size: 9px;
        grid-column: 1 / 2;
    }
}