.OneNewContent {
    width: 567px;
    margin-right: 31px;
}

@media (max-width: 320px) {
    .OneNewContent {
        width: 288px;
        margin-right: 0;
    }
}

.OneNewContentDescr {
    color: #292929;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
}

.OneNewContentDescr2 {
    color: #292929;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 5px;
}