.CardPageTop {
    display: flex;
    padding: 31px 133px 36px 136px;
    gap: 30px;
}

@media (max-width: 320px) {
    .CardPageTop {
        padding: 14px 16px 22px 16px;
        flex-direction: column;
        gap: 14px;
    }
}

.CardPageTop  h1 {
    margin-bottom: 11px;
}

@media (max-width: 320px) {
    .CardPageTop  h1 {
        order: 1;
        text-align: center;
    }
}

.CardPageTopImg {
    width: 570px;
}

@media (max-width: 320px) {
    .CardPageTopImg {
        display: none;
    }
}


.CardPageTopImg img:nth-child(1) {
    width: 570px;
}

.CardPageTopImg img:not(:nth-child(1)) {
    width: 71px;
    height: 71px;
    margin-right: 15px;
}

.CardPageTopContent {}

@media (max-width: 320px) {
    .CardPageTopContent {
        display: flex;
        flex-direction: column;
    }
}

.CardPageTopDescr {
    color: #292929;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 22px;
}


@media (max-width: 320px) {
    .CardPageTopDescr {
        order: 2;
        text-align: center;
    }
}


.CardPageTopPros {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 320px) {
    .CardPageTopPros {
        order: 6;
    }
}

.CardPageTopItem {
    display: flex;
    align-items: center;
    color: #292929;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.CardPageTopItem  span {
    text-decoration: underline;
}

.CardPageTopItem img {
    margin-right: 27px;
}


.mobileOnlyImages {
    display: none;
}
@media (max-width: 320px) {
    .mobileOnlyImages {
        display: flex;
        width: 288px;
        flex-wrap: wrap;
        order: 3;
        margin-bottom: 14px;
    }

    .mobileOnlyImages img:nth-child(1) {
        width: 288px;
        height: 227px;
        margin-bottom: 11px;
    }
}