* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Poppins", sans-serif;
    background: #F7F7F7;
}

.titleFirst {
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #292929;
}

@media (max-width: 320px) {
    .titleFirst {
        font-size: 24px;
    }
}

.titleSecond {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #292929;
    text-align: center;
}

@media (max-width: 320px) {
    .titleSecond {
        font-size: 18px;
    }
}

.descr {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #292929;
}

@media (max-width: 320px) {
    .descr{
        font-size: 14px;
    }
}

.descr > span {
    font-weight: 600;
}

.active {
    color: #4E9DD3;
}