* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Poppins", sans-serif;
    background: #F7F7F7;
}

.titleFirst {
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #292929;
}

.titleSecond {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #292929;
    text-align: center;
}

.descr {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #292929;
}

.active {
    color: #4E9DD3;
}