.completeItemContainer {
    display: flex;
    gap: 30px;
    padding: 0 135px 24px 134px;
    overflow-x: auto;
}

@media (max-width: 320px) {
    .completeItemContainer {
        padding: 21px 16px 32px 16px;
        gap: 8px;
    }
}

.completeItemContainer::-webkit-scrollbar {
    display: none;
}

.completeItemContainerButtons {
    display: flex;
    justify-content: center;
}