.NewsButtonContainer {
    display: flex;
    justify-content: end;
    margin-bottom: 3px;
    gap: 10px;
}


@media (max-width: 320px) {
    .NewsButtonContainer {
        justify-content: center;
        margin-bottom: 20px;
    }
}