.News {
    padding: 85px 135px 0 135px;
}

.News h2 {
    margin-bottom: 40px;
}

@media (max-width: 320px) {
    .News {
        padding: 50px 16px;
    }

    .News > h2 {
        margin-bottom: 20px;
    }
}