.NewsItemContainer {
    display: flex;
    gap: 29px;
    overflow-x: auto;
    margin-bottom: 20px;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

.NewsItemContainer::-webkit-scrollbar {
    display: none;
}