.NewsItem {
    background: #ffffff;
    border: 1px solid #EDEDF0;
    height: 420px;
    text-decoration: none;
}

.NewsItemContent {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 80px 20px;
    text-align: left;
    gap: 10px;
}

.NewsItemDate {
    color: #969696;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.NewsItemTitle {
    color: #292929;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.NewsItemDescr {
    color: #292929;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}